.profile__data {
    margin-top: 15px;
  }
  .profile__data .box {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.245);
    gap: 10px;
    display: flex;
  
    flex-direction: column;
  }
  .profile__data .profile__img {
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    justify-content: center;
  }
  .profile__img img {
    background-color: var(--theme);
    object-fit: contain;
    object-position: center;
    width: auto;
    height: 350px;
    border-radius: 5px;
    border: 5px groove var(--theme);
  }
  .profile__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    flex: 1;
  }
  .profile__details span {
    padding: 5px;
    background-color: var(--theme);
    border-radius: 5px;
    color: white;
  }